body{
    margin: 0;
}

.menu_item_selected{
    background: #FEC61A !important;
    color: #404040 !important;
}

.menu_item_selected svg{
    fill: #404040 !important; 
    margin: 17px !important;
    margin-left: 50px !important;
}


.menu_item svg{
    margin: 17px !important;
    margin-left: 50px !important;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}